/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 5, 2016, 3:25:34 PM
    Author     : Yash
*/

.heading-attendance{
    height: 50px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 8px;
    font-size:18px;
    color:rgba(0, 23, 66, 0.75);
}

.student-name{
    background-color:rgba(0, 23, 66, 0.75) ;
    height: 37px;
    color: white;
    padding: 7px;
    font-size: 18px;
    margin:8px;
}
.curdate-box{
   height:30px;
   width:90px;
   background-color: rgba(0, 23, 66, 0.75) ;
   color:white;
   padding: 4px;
    border-radius: 5px 4px;
}
