/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 1, 2016, 2:13:29 PM
    Author     : Yash
*/

.icon-back{
    background-color: rgba(0, 23, 66, 0.75);
    text-align: center;
}
.icon-back img{
    height:160px;
    width:150px;
}
.panel-body{
    padding: 2px;
}
.panel{
    box-shadow: 1px 2px 2px gray;
}
.icon-text{
    text-align: center;
    color:white;
    padding:12px;
    background-color: #26a69a;
}

.icon-back:hover{
    background-color: rgba(0, 23, 66, 0.94);

}

.panel:hover{
    box-shadow: 1px 3px 3px rgba(0, 23, 66, 0.75);
}


li .active{
    background-color: rgba(0, 23, 66, 0.75) !important;
}

