/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 28, 2016, 2:15:46 AM
    Author     : Yash
*/
@font-face{
    font-family: "WebFont";
    src: url('https://fonts.googleapis.com/css?family=Roboto');
  
}
body{
    font-family: 'WebFont';
    font-weight:bolder !important;
    font-size:16px ;
    margin:0px 0px;
    /*background-image: url('../Images/TSAbackground 2.png');*/
/*background-color: #26a69a;*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    /*overflow-x: no-display;*/
}
.vertical-layout{
    margin-bottom: 20px;
}
.nav-tabs.nav-justified{
     margin-bottom: 20px;
}
.web-color{
    background-color:  #26a69a !important    ;
}
.theme-color{
    color:#1976d2 !important;
}
.text-color{
    color:white !important;
}
.center{
    text-align:center;
}
thead{
    background-color: #1976d2    ;
}

th{
    color:white !important;
}
.vertical-layout-top{
    padding-top: 20px;
}
.btn-button{
    background-color:#ef6c00;
        color:white;
}
img{
    display:inline !important;
}
.backgroun-img{
    background: url("../Images/education-technology-upgrades-demand.jpg");
     height:726px;
    background-size: 100% 100%;
    background-attachment: fixed;
    
}
.backgroun-img2{
    background: url("../Images/achtergrond.jpg");
     height:782px;
     /*width:100%;*/
    background-size: 100% 100%;
    background-attachment: fixed;
    
}
.landingpage{
    font-size:36px;
}

.login
{
    background: rgba(0, 0, 0, 0.12); 
}
.btn-button-default{
    background-color: rgba(255, 255, 255, 0.25) !important;
    color:white!important;
    border:2px solid white;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.btn-button-default:hover{
    background-color: white !important;
    color:black !important;
    
}
textarea.form-control{
    padding-bottom: 2px !important;
   
}

.panel-body img{
    height:45px;
    width:45px;
}
.icon-panel{
    padding:3px !important;
}
.icon-panel-head{
    width:110px;
}

.icon-text-2{
    font-size:13px;
    
    
}

.label-text{
    font-size: 13px;
    height: 20px;
    border: 1px solid gray;
    /*max-width: content;*/
    /*max-width: 40%;*/
    background-color: rgba(0, 23, 66, 0.75);
    color: white;
    text-align: center;
}
.layout{
    padding:2px !important;
}

a{
    text-decoration: none !important;
}

.content-page{
  
}

.image-card{
    padding:10px;
}
.thumbnail{
    border:none;
    text-align: center;
    border-radius:0px !important;
    
    
}

.thumbnail img{
    height:100px;
    width:100px;
}

.divde-line{
    border-right:1px solid rgba(128, 128, 128, 0.35);
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


input.ng-touched.ng-invalid , textarea.ng-touched.ng-invalid  {
            border-color :red;
        }

input.ng-touched.ng-valid , textarea.ng-touched.ng-valid {
          border-color:green;
        }
        
        span{
            font-size:12px !important;
        }
        
       .lessonplan-card{
    color:white !important;
    background-color: #26a69a !important;
    height:40px;

}

.lessonplan-card .heading{
     font-size:16px !important;
     width:150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    
}


.icon-tools span{
    /*margin: 2px;*/
}
.icon-tools span{
    font-size:14px !important;
}
.lessonplan-text{
    height:25px;
  
    font-size:13px;
    color:gray;
    border-bottom:1px solid gray;
    
    /*max-height: max-content;*/
}

.description p{
    font-size:13px;
    color:gray;
    width:200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p{
    font-size:14px !important;
}

.donwload-card{
    line-height:30px;
    border: 2px solid white;
    height: 35px;
    width:150px;
    coloe: white;
    box-shadow: 2px 2px  1px 1px #26a69a;
    color: white;
    background-color: #1f3061;
}
a{
    cursor: pointer;
}




/* end only demo styles */

.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    /*margin: 5px;*/
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #ff0033;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: #5cb85c;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    background: #ff0000;
}


.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  /*outline: 1px solid #ddd;  focus style */
}

.pr{
    background-color: #5cb85c;
    border:1px solid white;
}
.ab{
     background-color: #ff0000;
      border:1px solid white;
}
.pe{
    background-color: grey;
        border:1px solid white;
}

