*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: "Open Sans";*/
}


/* Form Progress */
.progress1 {
 
  margin: 20px auto;
  text-align: center;
  padding-bottom: 10px;
}
.progress1 .circle,
.progress1 .bar {
  display: inline-block;
  background: #fff;
  width: 70px; height: 40px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
}
.progress1 .bar {
  position: relative;
  width: 200px;
  height: 6px;
  margin: 0 -5px 17px -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.progress1 .circle .label {
  display: inline-block;
  width: 60px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 12px;
}
.progress1 .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 30px;
  
}

/* Done / Active */
.progress1 .bar.done,
.progress1 .circle.done {
  background:#e3f2fd;
      box-shadow: 0px 2px 0px 2px #90caf9;
}
.progress1 .bar.active {
  background: linear-gradient(to right, #80cbc4 40%, #FFF 60%);
}
.progress1 .circle.done .label {
  color: #FFF;
  background: #80cbc4;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress1 .circle.done .title {
  color: #444;
}
.progress1 .circle.active .label {
  color: #FFF;
  background: #1976d2 ;
  box-shadow:0 0 2px rgba(0,0,0,.2);
}
.progress1 .circle.active .title {
  color: #0c95be;
}