/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 5, 2016, 2:28:52 PM
    Author     : Yash
*/

.video-content{
    height: 100px;
    width: 100px;
    /* padding: 18px; */
    /*border-radius: 5px;*/
    margin: 12px;
    /*border: 1px solid gray;*/
    display:inline-block;
}

.video-heading{
    
    height: 38px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding:7px;
    color: rgba(0, 23, 66, 0.75);
}
.video-text{
    font-size: 12px;
    text-align: center;
    background-color: #043569;
    color: white;
}

.video-icon img{
    height:92px;
    width:100px;
    
}